.checkIcon,
.deleteIcon,
.editIcon {
  fill: #9e78cf;
}

.checkIcon:hover,
.deleteIcon:hover,
.editIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.1s ease-in-out;
}

.checkIcon:hover {
  fill: #5ffe5f;
}

.deleteIcon:hover {
  fill: #ff5f5f;
}

.addIcon {
  fill: #ffffff;
}

.editIcon {
  fill: #9e78cf;
}

.editIcon:hover {
  fill: #e8f072;
  border: #e8f072;
}
